.header-container
    .header
        ul.links
            li(  [routerLinkActive]="['active-link']")
                a([routerLink]="'hello'") hello
            li(  [routerLinkActive]="['active-link']")
                a([routerLink]="'personal-details'") personal details